*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#Menu-principal{
    
    list-style: none;
    padding: 10px 60;
    background-color: rgb(13, 13, 70);
    text-align: right;
   
}
#Menu-principal li{
    display: inline;
    

}

#Menu-principal li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
}

#Menu-principal li a:hover{
    background-color: rgba(0, 217, 255, 0.752);

}

.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url(Imagem_projeto/MarcaDAguaLogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    color: white;
    font-size: 60px;
    font-weight: 600;    
}

.texto .sub_titulo{
    color: white;
    font-size: 60px;
    font-weight: 600; 
}
.texto .sub_titulo1{
    color: white;
    font-size: 20px;
    font-weight: 60; 
}
.texto .botoes{
    margin-top: 30px;
}

.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

}

.texto .botoes button.n-overlay{
    color: white;
    background: white;
    border: 2px solid white;
}

.texto .botoes button.overlay:hover{
    color: black;
    background-color: white;
}

.texto .botoes button.overlay{
    border: 2px solid white;
    color: white;
    background: none;
    animation: vibrar 0.9s ease-in-out infinite both;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    
}

ul{
    list-style-type: circle;
    padding-left: 3em;
    
}
